body{
    background: pink;
}
@media (min-width: 576px) {
    body{
        background: yellow
    }
}

@media (min-width: 768px) {
    body{
        background: purple;
    }
}

@media (min-width: 992px) {
    body{
        background: black;
    }
}

@media (min-width: 1200px) {
    body{
        background: fuchsia;
    }
}

@media (min-width: 1400px) {
    body{
        background: indigo;
    }
}